@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Luxurious+Roman&family=Noto+Serif&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  background-color: #386ab1;
  color: #f6f6f6;
  padding-left: 20px;
}
header nav .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav .logo img {
  width: 20px;
  height: 20px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #f6f6f6;
  margin: 0 10px;
}

main .first {
  background-image: url(../images/greece.jpeg);
  height: 1000px;
  background-size: cover;
  margin-bottom: 30px;
}
main .first form {
  background-color: #0F213F;
  height: auto;
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 10px;
}
main .first form .btn .lineOne, main .first form .btn .lineTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .first form .btn .lineOne button, main .first form .btn .lineTwo button {
  background-color: #0F213F;
  color: #f6f6f6;
  padding: 10px 50px;
  border: none;
  margin-bottom: 10px;
}
main .first form .btn .lineOne .active, main .first form .btn .lineTwo .active {
  background-color: #3B486A;
}
main .first form .inputForm {
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .first form .inputForm select, main .first form .inputForm input {
  width: 130px;
  height: 40px;
  background-color: #3B486A;
  color: #f6f6f6;
  border: none;
  padding: 0 5px;
}
main .first form .inputForm #search {
  background-color: #c2002d;
  width: 130px;
  height: 40px;
  color: #f6f6f6;
  border: none;
}
main .second .heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  height: 30px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  border: none;
  box-shadow: 0px 2px 2px #386ab1;
}
main .second .heading h1 {
  padding-bottom: 5px;
}
main .second .images {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: space-evenly;
}
main .second .images .img1 {
  background-image: url(../images/barselona.jpeg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 10px 20px;
  transition: 2s;
}
main .second .images .img2 {
  background-image: url(../images/istanbul.jpeg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 10px 20px;
  transition: 2s;
}
main .second .images .img3 {
  background-image: url(../images/rim.jpeg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 10px 20px;
  transition: 2s;
}
main .second .images .img4 {
  background-image: url(../images/pariz.webp);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 10px 20px;
  transition: 2s;
}
main .second .images .img1:hover {
  opacity: 0.5;
  transition: 2s;
  color: black;
}
main .second .images .img2:hover {
  opacity: 0.5;
  transition: 2s;
  color: black;
}
main .second .images .img3:hover {
  opacity: 0.5;
  transition: 2s;
  color: black;
}
main .second .images .img4:hover {
  opacity: 0.5;
  transition: 2s;
  color: black;
}
main .third {
  background-color: #f6f6f6;
}
main .third .heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  height: 30px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  border: none;
  box-shadow: 0px 2px 2px #386ab1;
  border-top: none;
}
main .third .heading h1 {
  padding-bottom: 5px;
}
main .third .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0;
}
main .third .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  width: 250px;
}
main .third .cards .card h3 {
  color: #386ab1;
}
main .third .cards .card img {
  width: 30%;
  background: aliceblue;
  border-radius: 50%;
}
main .third .cards .card .blue {
  color: #386ab1;
}
main .third .cards .card a {
  text-decoration: none;
  color: #386ab1;
}
main .third .cards .card .reservation {
  background-color: #386ab1;
  color: #f6f6f6;
  padding: 10px 30px;
  border: none;
}
main .third .cards .card .reservation:hover {
  transition: 1s;
  transform: scale(1.5);
}

@media screen and (max-width: 1024px) {
  main .first {
    margin-bottom: 30px;
    height: 100vh;
  }
  main .first form {
    width: 80%;
  }
  main .first form .btn .lineTwo {
    border-top: 3px solid #c2002d;
  }
  main .first form .inputForm {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .first form .inputForm select, main .first form .inputForm input {
    width: 250px;
    height: 40px;
    margin: 10px 0;
  }
  main .first form .inputForm #search {
    width: 250px;
    height: 40px;
    margin: 10px 0;
  }
  main .second .images {
    flex-wrap: wrap;
  }
  main .second .images .img1, main .second .images .img2, main .second .images .img3, main .second .images .img4 {
    width: 400px;
  }
  main .third {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  main .third .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 30px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    border: none;
    box-shadow: 0px 2px 2px #386ab1;
    border-top: none;
  }
  main .third .heading h1 {
    padding-bottom: 5px;
  }
  main .third .cards {
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    padding: 10px 20px;
  }
  header nav .logo {
    display: flex;
    flex-direction: row;
  }
  header nav .logo img {
    width: 40px;
    height: 40px;
  }
  header nav ul {
    display: none;
  }
  header nav:hover ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header nav:hover ul li {
    margin: 5px 0;
  }
  main .first {
    height: 120vh;
  }
  main .first form {
    padding: 0px 0px 30px 0px;
  }
  main .first form .btn {
    width: 100%;
    padding: none !important;
  }
  main .first form .btn .lineOne {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: none;
  }
  main .first form .btn .lineTwo {
    border-top: 3px solid #c2002d;
    justify-content: space-evenly;
  }
  main .first form .btn .lineTwo button {
    word-wrap: break-word;
    width: 100px;
    padding: 0px;
  }
  main .first form .inputForm {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .first form .inputForm select, main .first form .inputForm input {
    width: 150px;
    height: 40px;
    margin: 10px 0;
  }
  main .first form .inputForm #search {
    width: 150px;
    height: 40px;
    margin: 10px 0;
  }
  main .second .images .img1, main .second .images .img2, main .second .images .img3, main .second .images .img4 {
    width: 200px;
  }
  main .third {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  main .third .cards {
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
  }
  main .third .cards .card {
    width: 90%;
  }
  main .third .cards .card p {
    margin: 5px 0px;
  }
  main .third .cards .card a {
    margin: 5px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
