$blue: #386ab1;
$grey: #f6f6f6;
$background: #0F213F;
$button: #3B486A;
$red: #c2002d;
$greyText: #7a7a7a;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Luxurious+Roman&family=Noto+Serif&family=Roboto&display=swap');

$font: 'Roboto', sans-serif;