@import 'vars';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

// <<<<<<<<<< HEADER NAVBAR >>>>>>>>>>

header {

    nav{
        @include flexRow;
        align-items: center;
        height: 40px;
        background-color: $blue;
        color: $grey;
        padding-left: 20px;

        .logo{
            @include flexRow;
            align-items: center;

            img{
                width: 20px;
                height: 20px;
            }
        }

        ul{
            @include flexRow;
            align-items: center;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: $grey;
                    margin: 20px;
                }
            }
        }
    }
}

// <<<<<<<<<< MAIN >>>>>>>>>>

main{

    //  <<<<<<<<<< FIRST SECTION >>>>>>>>>>

    .first{
        background-image: url(../images/greece.jpeg);
        height: 70vh;
        background-size: cover;
        margin-bottom: 30px;
        form{
            background-color: $background;
            height: 180px;
            margin: 0 auto;
            width: 70%;

            .btn{

                .lineOne, .lineTwo{

                    button{
                        background-color: $background;
                        color: $grey;
                        padding: 10px 50px;
                        border: none;
                        margin-bottom: 10px;
                    }

                    .active{
                        background-color: $button;
                    }
                }
            }

            .inputForm{
                margin: 10px auto;
                width: 90%;
                @include flexRow;
                justify-content: space-between;

                select, input {
                    width: 130px;
                    height: 40px;
                    background-color: $button;
                    color: $grey;
                    border: none;
                    padding: 0 5px;
                }

                #search{
                    background-color: $red;
                    width: 130px;
                    height: 40px;
                    color: $grey;
                    border: none;
                }
            }
        }
    }

    //  <<<<<<<<<< SECOND SECTION >>>>>>>>>>

    .second{
        .heading{
            @include flexRow;
            @include heading;
                h1{
                padding-bottom: 5px;
                }
        }
        .images{
           @include flexRow;
           margin: 20px auto;
           justify-content: space-evenly;
            .img1{
                background-image: url(../images/barselona.jpeg);
                @include imageOptions;
            }
            .img2{
                background-image: url(../images/istanbul.jpeg);
                @include imageOptions;
            }
            .img3{
                background-image: url(../images/rim.jpeg);
                @include imageOptions;
            }
            .img4{
                background-image: url(../images/pariz.webp);
                @include imageOptions;
            }
            .img1:hover{
                @include imageHover;
            }
            .img2:hover{
                @include imageHover;
            }
            .img3:hover{
                @include imageHover;
            }
            .img4:hover{
                @include imageHover;
            }
        }   
    }

    //  <<<<<<<<<< THIRD SECTION >>>>>>>>>>

    .third{
        background-color: $grey;
        .heading{
            @include flexRow;
            @include heading;
            border-top: none;
                h1{
                padding-bottom: 5px;
                }
        }
        .cards{
            @include flexRow;
            justify-content: space-around;
            margin: 30px 0 ;
            .card {
                @include flexColumn;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                margin-top: 50px;
                width: 250px;
                h3{
                    color: $blue;
                }
                img{
                    width: 30%;
                    background: aliceblue;
                    border-radius: 50%;
                }
                .blue{
                    color: $blue;
                }
                a{
                    text-decoration: none;
                    color: $blue;
                }
                .reservation{
                    background-color: $blue;
                    color: $grey;
                    padding: 10px 30px;
                    border: none;
                }
                .reservation:hover{
                    transition: 1s;
                    transform: scale(1.5);
                }
            }
        }
    }
}